page-home {
  ion-card{
    display: flex;
    flex-direction: column;
    height: 10% !important;
  }

  .card {
  border-radius: 10px;
  overflow: hidden;
  }

  .home-container {
  display: -webkit-flex;
  -webkit-flex-direction:column;
  height: 100%;
  }
  .home-container > .row {
    -webkit-flex:1;
  }
  .icon-row{
    -webkit-align-items: center;
  }

  .iconsize{
    font-size: 50px;
  }
  .resize{
    position: relative;
    width:150px;
    margin:margin-left;
    margin-top:50vh;
  }

  .fontsize1{
    font-size: 16px;
  }
  .fontsize2{
    font-size: 13px;
  }
  .buttonbasic {
    display: inline-block;
    text-decoration: none;
    color:#FFF;
    background-color:#538fbe;
    border:1px solid #2d6898;
    padding: 25px;
    text-align: center;
    display: inline-block;

    margin: 4px 2px;


    background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(73,132,180)),
        color-stop(1, rgb(97,155,203))
    );

    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
    text-shadow: x-offset y-offset blur color;
    //-webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    //-moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    //box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }



  .button1 {border-radius: 50%;}
  .buttonc {
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:0%;
    margin-bottom:0%;
    font-size: 25px;
  }
  .button2 {
    border: 2px solid #3e6fa5 ;
    background-color: white;
    color: #FFF;
    padding: 14px 28px;
    font-size: 16px;
  }
  /* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background:  #5a93bf radial-gradient(circle, transparent 3%,  #5a93bf 3%) center/15000%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

  .ripple:active {
    background-color:#5a93bf;
    background-size: 100%;
    transition: background 0s;
  }

  .button3 {
    background-color: #538fbe;
    border: 1px solid #3e6fa5 ;
    background-repeat:no-repeat;
    overflow: hidden;
    color: white;
    padding: 35px;
    font-size:25px;
    text-align: center;
    height:50px;
    width:335px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }



    /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #538fbe;
    border: 1px solid #2d6898 ;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    font-size:25px;
    color: white;
  }

  .title{
    text-align: center;
    

  }

}
